@mixin responsive {
  @media (max-width: 1200px) {
    @content;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin-right: 20px;
  margin-left: 10px;
  grid-area: cards;
  margin-bottom: 70px;
  @include responsive() {
    margin-bottom: 0;
    height: fit-content;
  }
}
