.charts {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

.chart {
  flex-basis: 32%;
  // display: flex;
  // justify-content: space-around;
  height: 263px;
  position: relative;
}

// .pieChart__headline {
//   margin: 0;
//   position: absolute;
//   top: 5%;
//   left: 5%;
// }

.radialBarChart__headline {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.lineChart__headline {
  position: absolute;
  margin: 0;
  top: 25px;
  left: 30px;
  z-index: 10;
  color: white;
  opacity: 0.5;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
