.chart {
  // width: 258px;
  // height: 263px;
  background-color: red;
  border-radius: 5px;
}

.barChart__tooltip {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 39px;
  height: 63px;
  background-color: #e60000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  & p {
    margin: 0;
  }
}
