.charts {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

.chart {
  flex-basis: 32%;
  height: 263px;
  border: 3px solid green;
  position: relative;
}

.piechart__headline {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 5%;
}
