.dailyActivity {
  flex-basis: 100%;
  min-width: 300px;
  height: 320px;
  padding: 24px 32px;
  position: relative;
  & h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    position: absolute;
    top: 29px;
  }
}
