.card {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
  height: 124px;
  width: 258px;
  &__image {
    width: 60px;
    height: 60px;
    margin-right: 24px;
  }
  &__text--stat {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }
  &__text--cat {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #74798c;
    margin: 2px 0 0 0;
  }
}
