.main {
  display: flex;
  flex-wrap: wrap;
  grid-area: main;
  padding-top: 68px;
  padding-left: 107px;
  &__content {
    display: flex;
  }
}

.chartsOverview {
  display: flex;
  flex-wrap: wrap;
}
