.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "greeting greeting"
    "daily cards"
    "charts cards";
  padding-top: 68px;
  padding-left: 107px;
}
