.barChart__tooltip {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  // previous 7px
  font-size: 9px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  // previous 39px
  width: 43px;
  height: 63px;
  background-color: #e60000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  & p {
    margin: 0;
  }
}
