@mixin responsive {
  @media (max-width: 1200px) {
    @content;
  }
}

.charts {
  grid-area: charts;
  // flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 70px;
  @include responsive {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.chart {
  flex-basis: 32%;
  height: 263px;
  position: relative;
  @include responsive {
    flex-basis: 48%;
    height: 180px;
  }
}

.radialBarChart__headline {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.lineChart__headline {
  position: absolute;
  margin: 0;
  top: 25px;
  left: 30px;
  z-index: 10;
  color: white;
  opacity: 0.5;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
