.footer {
  grid-area: footer;
  background: #020203;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__content {
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 12px;
    line-height: 24px;
    color: white;
  }
}
