.main {
  grid-area: main;
  padding-top: 68px;
  padding-left: 107px;
}

.dashboard__greeting {
  font-weight: 500;
  margin: 0;
}

.dashboard__name {
  color: #e60000;
}

.dashboard__status {
  font-size: 18px;
  line-height: 24px;
  margin-top: 40px;
}
